<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Single - Table_c</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="./static/css/base.css">
    <link rel="stylesheet" href="./static/css/vendor.css">
    <link rel="stylesheet" href="./static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="./static/js/modernizr.js"></script>
    <script src="./static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="./static/favicon.ico" type="./static/image/x-icon">
    <link rel="icon" href="./static/favicon.ico" type="./static/image/x-icon">

</head>

<body id="top" onload="noBack();"
	onpageshow="if (event.persisted) noBack();" onunload="">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header 
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="#">
                <img src="./static/images/BASE.ai HD Transparent White.png" alt="Homepage" style="width:90px;height:90px;">
            </a>
        </div>

        <nav class="row header-nav-wrap wide">
            <ul class="header-main-nav">
                <li><a href="#" title="intro">Home</a></li>
            </ul>

            <ul class="header-social">
                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    
    </header> <!-- end header -->


    <!-- article
    ================================================== -->
    <article class="blog-single">


        <!-- page header
        ================================================== -->
        <div class="page-header page-header--single" style="background-image:url(./static/images/blog/blog-bg-01.jpg)">

            <div class="row page-header__content">
                <div class="col-full">

                    <h1 class="display-1">
                        Creating table sequence
                    </h1>
                    <ul class="page-header__meta">
                        <li class="author">By: <a href="#0">Comnet team</a></li>
                        <li class="date">April 24, 2020</li>
                        <li class="cat-links">
                            <a href="#0">table</a><a href="#0">news</a>
                        </li>
                    </ul>
                    
                </div>
            </div>

        </div> <!-- end page-header -->


        <!-- blog content
        ================================================== -->
        <div class="blog-content-wrap">
            {{Tb_name}}
            <!-- baca tabel row yang sudah dibuat/submit (save excel stelah di finish) pake temporary nyimpen semua submitted data -->
            {% if changer %}
                {% for z in range(rows) %}
                <br><tr>
                    {% for y in range(columns) %}
                    <!--isi changer = [columns,columns,columns] yang setiap columnsnya adalah jumlah kolom, isi changer sebanyak jumlah row-->
                    <!--isi changer pertama harus dibuat minus biar row awal keambil-->
                    <!-- masuk if untuk ambil changer awal, masuk else untuk ambil isi changer kedua dst-->
                        {% if z == 0 %}
                        <th>{{stored[y + (columns+changer[0])]}}</th>
                        {% else %}
                        <!--[1 : z] maksudnya ambil data ke 1 sampai ke z, jgn lupa index mulai dri 0 jadi data ke 1 adalah data kedua-->
                        <!--[1 : 1] adlah nol dari pythonny (+ column karena pada z=1 jadinya [1:1]=0 maka stored[column] kalo udh mo ambil row ketiga jadi nambah [1:2]=column jadinya stored(column + column)dst)-->
                        <th>{{stored[y + (columns + add_function(changer[1:z]))]}}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endif %}
            <form method="post" action="/storing_data">
             <tr>
                 {% for x in range(columns) %}
                 <th><input name='{{x}}' required></th>
                 {% endfor %}
             </tr>
                <button type="submit">Submit</button>
                <a href="/save_reset" class="btn btn-primary btn-lg" role="button">Finish</a>
                <a href="/back" class="btn btn-primary btn-lg" role="button">Undo</a>
                <a href="/cancel" class="btn btn-primary btn-lg" role="button">Cancel</a>
            </form>




        </div> <!-- end blog-content-wrap -->

    </article> <!-- end article(blog-single) -->



    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">

        <div class="row footer__top">
            <div class="col-six md-full">
                <h1 class="display-2">
                    Let's Stay In Touch.
                </h1>
                <p class="lead">
                    Subscribe for more updated news.
                </p>
            </div>
            <div class="col-six md-full footer__subscribe end">
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                        <input type="submit" name="subscribe" value="Sign Up">

                        <label for="mc-email" class="subscribe-message"></label>

                    </form>
                </div>
            </div>
        </div>

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="index.html">
                        <img src="./static/images/logo.svg" alt="Homepage">
                    </a>
                </div>

                <p>
                An country demesne message it. Bachelor domestic extended doubtful as concerns at. Morning prudent
                    removal an letters by. On could my in order never it. Or excited certain sixteen it to parties colonel.
                    Depending conveying direction has led immediate. Law gate her well on life feet seen rent. On nature or no except it sussex.
                </p>

                <ul class="footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-six tab-full end">
                <ul class="footer__site-links">
                    <li><a class="smoothscroll" href="#home" title="intro">Intro</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">News</a></li>
                    <li><a class="smoothscroll" href="#download" title="features">Display</a></li>
                </ul>

                <p class="footer__contact">
                    Do you have a question? Send us a word: <br>
                    <a href="mailto:#0" class="footer__mail-link">Base_news@gmail.com</a>
                </p>

            </div>

        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="./static/js/jquery-3.2.1.min.js"></script>
    <script src="./static/js/plugins.js"></script>
    <script src="./static/js/main.js"></script>

</body>